apiVersion: v1
kind: ConfigMap
metadata:
  name: alertmanager-config-v5
  namespace: monitoring
data:
  alertmanager.yml: |
    global:
      resolve_timeout: 1m
    route:
      receiver: 'telegram'
      group_wait: 10s
      group_interval: 1m
      repeat_interval: 3h
    receivers:
    - name: 'telegram'
      telegram_configs:
      - bot_token: {{ .Env.TELEGRAM_BOT_TOKEN }}
        chat_id: -4763505320
        message: |
          {{ if eq .Status "firing" }}
          *АЛЕРТ СРАБОТАЛ!*
          {{ else }}
          *АЛЕРТ РАЗРЕШЕН*
          {{ end }}
          *Статус:* {{ .Status | toUpper }}
          *Алерт:* {{ .CommonLabels.alertname }}
          *Уровень:* {{ .CommonLabels.severity | toUpper }}
        send_resolved: true
        parse_mode: 'Markdown'
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: alertmanager
  namespace: monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: alertmanager
  template:
    metadata:
      labels:
        app: alertmanager
    spec:
      containers:
      - name: alertmanager
        image: prom/alertmanager:v0.27.0
        env:
        - name: TELEGRAM_BOT_TOKEN
          valueFrom:
            secretKeyRef:
              name: alertmanager-telegram-secret
              key: telegram-token
        args:
        - "--config.file=/etc/alertmanager/alertmanager.yml"
        - "--storage.path=/alertmanager"
        ports:
        - containerPort: 9093
        volumeMounts:
        - name: config-volume
          mountPath: /etc/alertmanager
      volumes:
      - name: config-volume
        configMap:
          name: alertmanager-config-v5
---
apiVersion: v1
kind: Service
metadata:
  name: alertmanager
  namespace: monitoring
spec:
  type: ClusterIP
  ports:
  - port: 9093
    targetPort: 9093
  selector:
    app: alertmanager
