apiVersion: v1
kind: ConfigMap
metadata:
  name: promtail-config
  namespace: monitoring
data:
  promtail-config.yaml: |
    server:
      http_listen_port: 9080
      grpc_listen_port: 0

    positions:
      filename: /run/promtail/positions.yaml

    clients:
      - url: http://loki.monitoring.svc.cluster.local:3100/loki/api/v1/push

    scrape_configs:
      - job_name: ssl-app-logs
        static_configs:
          - targets:
              - localhost
            labels:
              job: ssl-app
              namespace: ssl-app
              container: myapp
              pod: my-gitops-app-myapp-*
              __path__: /var/log/containers/my-gitops-app-myapp-*.log
        pipeline_stages:
          - cri: {}
