apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-rules-v5
  namespace: monitoring
data:
  rules.yml: |
    groups:
    - name: webapp.alerts
      rules:
      - alert: WebApp_CPU_High
        expr: |
          sum by (pod) (rate(container_cpu_usage_seconds_total{container!="POD",namespace="ssl-app"}[5m])) > 0.01
        for: 1m
        labels:
          severity: warning
        annotations:
          summary: "Высокое потребление CPU Web-приложением"
          description: "Pod {{ $labels.pod }} в NS {{ $labels.namespace }} потребляет > 10m CPU в течение 1 минуты."
      - alert: PodDown
        expr: |
          (kube_pod_status_ready{condition="true", namespace="ssl-app"} == 0)
          or
          absent(kube_pod_status_ready{namespace="ssl-app"})
        for: 30s
        labels:
          severity: critical
        annotations:
          summary: "Pod Web-приложения не готов или отсутствует"
          description: "Pod {{ $labels.pod }} в namespace {{ $labels.namespace }} не готов или полностью отсутствует >30 секунд."
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config-v5
  namespace: monitoring
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
    alerting:
      alertmanagers:
      - static_configs:
        - targets: ["alertmanager.monitoring.svc.cluster.local:9093"]
    rule_files:
      - "/etc/prometheus/rules/*.yml"
    scrape_configs:
      - job_name: 'kubernetes-cadvisor'
        scheme: https
        tls_config:
          insecure_skip_verify: true
        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        kubernetes_sd_configs:
        - role: node
        relabel_configs:
        - action: labelmap
          regex: __meta_kubernetes_node_label_(.+)
        - target_label: __address__
          replacement: kubernetes.default.svc:443
        - source_labels: [__meta_kubernetes_node_name]
          regex: (.+)
          target_label: __metrics_path__
          replacement: /api/v1/nodes/$1/proxy/metrics/cadvisor
      - job_name: 'kube-state-metrics'
        static_configs:
        - targets: ['kube-state-metrics.monitoring.svc.cluster.local:8080']
      - job_name: 'kubernetes-pods'
        kubernetes_sd_configs:
        - role: pod
        relabel_configs:
        - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
          action: keep
          regex: true
        - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_path]
          action: replace
          target_label: __metrics_path__
          regex: (.+)
        - source_labels: [__address__, __meta_kubernetes_pod_annotation_prometheus_io_port]
          action: replace
          regex: (.+):(?:\d+);(\d+)
          replacement: ${1}:${2}
          target_label: __address__

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus
  namespace: monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      serviceAccountName: prometheus
      containers:
      - name: prometheus
        image: prom/prometheus:v2.53.0
        args:
        - "--config.file=/etc/prometheus/prometheus.yml"
        - "--storage.tsdb.path=/prometheus/"
        ports:
        - containerPort: 9090
        volumeMounts:
        - name: config-volume
          mountPath: /etc/prometheus/
        - name: rules-volume
          mountPath: /etc/prometheus/rules/
      volumes:
      - name: config-volume
        configMap:
          name: prometheus-config-v5
      - name: rules-volume
        configMap:
          name: prometheus-rules-v5
---
apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: monitoring
spec:
  type: ClusterIP
  ports:
  - port: 9090
    targetPort: 9090
  selector:
    app: prometheus
